
<app-panel-buttons (saveForm)="saveForm()"/>
<form [formGroup]="naturalForm" (ngSubmit)="sendForm()">
  <app-initial-data [form]="naturalForm" />
  <app-datos-contratista [form]="naturalForm" [lists]="lists"/>
  <app-datos-contables-fiscales [form]="naturalForm"/>
  <app-datos-salud [form]="naturalForm" [lists]="this.lists"/>
  <app-datos-bancarios [form]="naturalForm"/>
  <app-datos-contacto-emergencia [form]="naturalForm"/>
  <app-personas-expuestas-politicamente [form]="naturalForm"/>
  @if(naturalForm.get('is_pep')?.value == '1'){
    <app-declaracion-pep [lists]="lists" />
  }
  <app-declaracion-sagrilaft />
  <app-acuerdo-confidencialidad [form]="naturalForm" [lists]="lists"/>
  <app-autorizacion-datos-personales />
  <app-firma [form]="naturalForm" />
  <app-additional-info [lists]="lists" />
  <div class="row">
    <app-black-button
        [name]="'enviar formulario'"
        [type]="'submit'"
        class="col-4 col-start-third center-element big-gap"
      ></app-black-button>
  </div>
</form>
