@if (loading) {
  <div class="loader">
    <div class="custom-loader"></div>
  </div>
}
<div class="form-page">
	<div class="form-content">
		@if (typePerson == personEnnum.Natural && vendorStatus == VENDORSTATUS.CREADO) {
      <app-form-header [title]="title"/>
			<p>
				El presente documento deberá ser completado y suscrito por la persona natural que se vinculará a la sociedad SECUOYA PRODUCCIONES S.A.S., SECUOYA INTERNACIONAL S.A.S. y/o SECUOYA STUDIOS S.A.S., o aquellas que deseen realizar una actualización de datos previamente registrados.
			</p>
			<app-vinculacion-natural class="full-width" (notify)="sendForm($event)" [lists]="lists" (onSubmitFile)="submitFile($event)" />
		}
		@else if (typePerson == personEnnum.Juridica && vendorStatus == VENDORSTATUS.CREADO) {
      <app-form-header [title]="title"/>
			<p>
				El presente documento deberá ser completado y suscrito por el representante legal de la persona jurídica que se vinculará a la sociedad SECUOYA PRODUCCIONES S.A.S., SECUOYA INTERNACIONAL S.A.S. y/o SECUOYA STUDIOS S.A.S., o aquellas que deseen realizar una actualización de datos previamente registrados.
			</p>
			<app-vinculacion-juridica class="full-width" (notify)="sendForm($event)" [lists]="lists" (onSubmitFile)="submitFile($event)" />
		}
		@else if([VENDORSTATUS.VINCULACION, VENDORSTATUS.CORRECION_DOCS].includes(vendorStatus)) {
      <app-form-header [title]="title"/>
		  <app-documentation-form />
		}
		@else {
		  <app-thanks />
		}

	</div>
</div>
