<app-subtitle [subtitle]="'datos de contabilidad'" />
<div class="row">
  <app-text-input
    [label]="'Nombre Responsable'"
    [control]="getControl('accounting_responsible_name')"
    class="col-4"
  />
  <app-text-input
    [label]="'Celular'"
    [control]="getControl('accounting_responsible_telephone')"
    class="col-4"
    [pattern]="'^[0-9+-]+$'"
  />
  <app-text-input
    [label]="'Correo electrónico'"
    [control]="getControl('accounting_responsible_email')"
    class="col-4"
    [type]="'email'"
  />
  <app-text-input
    [label]="'Cargo'"
    [control]="getControl('accounting_responsible_position')"
    class="col-4"
  />
</div>
