<app-subtitle [subtitle]="'datos del contacto comercial'" />
<div class="row">
  <app-text-input
    [label]="'Nombre Responsable'"
    [control]="getControl('commercial_responsible_name')"
    class="col-4"
  />
  <app-text-input
    [label]="'Celular'"
    [control]="getControl('commercial_responsible_telephone')"
    class="col-4"
    [pattern]="'^[0-9+-]+$'"
  />
  <app-text-input
    [label]="'Correo electrónico'"
    [control]="getControl('commercial_responsible_email')"
    class="col-4"
    [type]="'email'"
  />
  <p class="col-12">
    El abajo firmante actuando como representante legal indicado en la firma (EL TITULAR) por medio del presente documento, manifiesto que autorizo a SECUOYA INTERNACIONAL S.A.S., SECUOYA PRODUCCIONES SAS y a SECUOYA STUDIOS SAS. (en adelante, “SECUOYA”). Y declara que comprende y acepta lo siguiente:
  </p>
</div>
