<app-subtitle [subtitle]="'datos del contacto comercial'" />
<div class="row">
  <app-text-input
    [label]="'Nombre Responsable'"
    [control]="getControl('commercial_responsible_name')"
    class="col-4"
  />
  <app-text-input
    [label]="'Celular'"
    [control]="getControl('commercial_responsible_telephone')"
    class="col-4"
    [pattern]="'^[0-9+-]+$'"
  />
  <app-text-input
    [label]="'Correo electrónico'"
    [control]="getControl('commercial_responsible_email')"
    class="col-4"
    [type]="'email'"
  />
</div>
