<app-subtitle [subtitle]="'acuerdo de confidencialidad'" />

<div class="confidential">

<p>Entre los suscritos, a saber: <b style="text-transform: uppercase;">DANIEL MAURICIO HERNÁNDEZ BOCANEGRA</b>, mayor de edad, identificado con la cédula de ciudadanía No.
  1020712350, quien obra en calidad de representante legal de <b style="text-transform: uppercase;">SECUOYA GRUPO DE COMUNICACIONES S.A.S. q</b>, sociedad identificada con
  NIT No. 900818043 – 3 (en adelante “LA PRODUCTORA”) por una parte; y por la otra, <b style="text-transform: uppercase;font-weight:bold;">{{lists?.vendorInfo?.full_name  || '___________________________'}}</b>, mayor de edad, identificado con documento No. <b style="text-transform: uppercase;font-weight:bold;">{{lists?.vendorInfo?.document || '___________________________'}}</b>, quien obra en su propio nombre (“EL RECEPTOR”),
  suscriben el presente acuerdo de confidencialidad (en adelante ‘Acuerdo’ o ‘Acuerdo de Confidencialidad’) con el fin de establecer los términos
  y condiciones que regirán la recepción de la información confidencial de LA PRODUCTORA relacionada con el desarrollo y producción del
  proyecto audiovisual tentativamente llamado <b style="text-transform: uppercase;">{{lists?.vendorInfo?.proj_name || '_____________'}}</b> (el “PROYECTO AUDIOVISUAL”).</p>

<p><b><u>PRIMERA. OBJETO.</u></b> EL RECEPTOR se obliga a no divulgar, mantener para sí mismo y usar exclusivamente para los fines dispuestos por LA
  PRODUCTORA, el contenido y/o características de los documentos, obras, y demás materiales en general, presentados por LA PRODUCTORA,
  y cualquier otra información acerca del PROYECTO AUDIOVISUAL o sobre las actividades que realiza LA PRODUCTORA, en los términos
  dispuestos en este Acuerdo. Dicha información se considera para todos los efectos como Información Confidencial.</p>

<p>La Información Confidencial incluye, pero no se limita a, todos los datos, informes, análisis, pronósticos, proyecciones, presupuestos, procesos,
  políticas, registros, información financiera y comercial, “know how”, proyectos financieros, proyectos de producción, incluyendo cualesquier tipo
  de elementos de producción, listas, fotografías, soportes materiales o cualquier información relativa a: libretos del Proyecto, guiones del
  Proyecto, propuestas y/o planes de negocios, métodos, planes de operación y de recursos humanos, estrategias de mercado, ventas,
  planeación de producción, planes de distribución, información de costos e información de precios, manuales de operación, marcas, patentes,
  avisos, nombres comerciales, diseños, imágenes, logotipos, certificados de invención, todo tipo de derechos de autor, derechos de propiedad
  intelectual y comercial; y cualquier otro documento o información relativos a procedimientos y normas de LA PRODUCTORA. También se
  considera Información Confidencial toda información que EL RECEPTOR llegue a conocer sobre los proyectos creativos que administra o
  maneja LA PRODUCTORA, sobre las actividades o estrategias comerciales que esta realiza, así como las características y contenido del
  PROYECTO AUDIOVISUAL, su objeto, las obras protegidas por los derechos de autor que hacen parte de esta, las condiciones económicas
  negociadas y su estrategia de comercialización y mercadeo, entre otros. </p>

<p><b><u>SEGUNDA. PROPIEDAD INTELECTUAL DE LA INFORMACIÓN CONFIDENCIAL.</u></b> EL RECEPTOR reconoce que toda la Información
  Confidencial es de propiedad de LA PRODUCTORA y que su conocimiento de esta no le da ningún tipo de derecho, título o interés legítimo
  sobre esta. En el caso en el que la Información Confidencial esté sujeta a protección por propiedad intelectual, EL RECEPTOR reconoce que
  LA PRODUCTORA es la propietaria de todos los derechos de propiedad intelectual que recaen sobre la Información Confidencialidad y que en
  ningún caso se considerará que su entrega y revelación supone una cesión de derechos o licencia de uso de esta Información Confidencial.</p>

<p><b><u>TERCERA. OBLIGACIÓN DE CONFIDENCIALIDAD.</u></b> EL RECEPTOR se obliga a guardar y custodiar la Información Confidencial y a utilizarla
  única y exclusivamente para los propósitos específicamente señalados por LA PRODUCTORA en desarrollo y con destino al PROYECTO
  AUDIOVISUAL, sin divulgarla, ni total o parcialmente, oralmente o por escrito, o de cualquier otra forma, a ninguna persona natural o jurídica,
  de carácter público o privado.</p>

<p>EL RECEPTOR no podrá hacer mención ni divulgar información relacionada con la Información Confidencial en noticias o entrevistas,
  incluyendo, pero sin limitarse a medios de comunicación, redes sociales, o cualquier otro medio masivo.</p>

<p>La obligación de confidencialidad incluye la prohibición de copiar, alterar, modificar, reproducir, duplicar en todo o el parte, la Información
  Confidencial, sin la autorización previa y por escrito de LA PRODUCTORA. Asimismo, EL RECEPTOR deberá mantener especial guarda y
  cuidado sobre la información devenida del contenido de las obras protegidas por el derecho de autor a las que pueda tener acceso con ocasión
  del PROYECTO AUDIOVISUAL, estimándose en su totalidad como Información Confidencial, salvo disposición en contrario, expresa y por
  escrito, de parte de LA PRODUCTORA.</p>

<p>La obligación de confidencialidad se extiende a los subordinados, dependientes y subcontratistas de EL RECEPTOR, o cualquier tercero que
  intervenga en la ejecución del desarrollo del PROYECTO AUDIOVISUAL sin importar la naturaleza de su relación con EL RECEPTOR. Por lo
  anterior EL RECEPTOR deberá informar a todos y cada uno de estas personas, naturales o jurídicas, como representantes, asesores,
  empleados, entre otros, que reciban información, el carácter confidencial que ésta tiene, así como de la existencia de este Acuerdo y las
  consecuencias de su incumplimiento.</p>

<p>La obligación de confidencialidad subsistirá hasta por tres (3) años adicionales a la terminación de las relaciones civiles o comerciales que
  tenga LA PRODUCTORA con EL RECEPTOR de la Información Confidencial.</p>

<p>A la terminación de la relación entre las Partes, EL RECEPTOR deberá:</p>

<p>(i) Devolver la Información Confidencial suministrada por LA PRODUCTORA y sus copias</p>

<p>(ii) Destruir o procurar que se destruyan todas las notas, memorandos y cualesquiera otros documentos o archivos (informáticos o no)
  preparados por LA PRODUCTORA o que contengan o hayan sido elaborados a partir de la Información Confidencial.;</p>

<p>(iii) Confirmar a LA PRODUCTORA por escrito que la Información Confidencial ha sido devuelta o destruida.</p>

<p><b><u>CUARTA. ESTÁNDAR DE CUIDADO.</u></b> EL RECEPTOR deberá proteger la Información Confidencial con el más alto grado de diligencia para
  prevenir el uso no autorizado o la difusión y publicación de la Información Confidencial, debido a que EL RECEPTOR reconoce que la guarda
  de la Información Confidencial es esencial para proteger los intereses de LA PRODUCTORA frente al PROYECTO AUDIOVISUAL. Por lo
  anterior, LA PRODUCTORA se encuentra facultada para solicitar medidas cautelares en caso de que considere que EL RECEPTOR no está
  ejerciendo el estándar de cuidado apropiado para la protección de la Información Confidencial y considere que hay una amenaza de
  incumplimiento. </p>

<p><b><u>QUINTA. INCUMPLIMIENTO DE CONFIDENCIALIDAD.</u></b> Cualquier violación a esta obligación por parte de EL RECEPTOR o sus empleados
  o contratistas, dará lugar a las acciones legales e indemnización que correspondan en su contra. La simple divulgación no autorizada de la
  información confidencial recibida será causa suficiente para ejercer las acciones legales pertinentes. </p>

<p><b>PARÁGRAFO PRIMERO.</b> En caso en que la Información Confidencial sea difundida, publicada, o se haya utilizado de una forma no autorizada,
  EL RECEPTOR deberá informar de manera inmediata a LA PRODUCTORA sobre la situación que dio lugar a dicho incumplimiento con el
  propósito de cooperar para el perjuicio causado sea el menor posible, y se propenda por recuperar la posesión de la Información Confidencial
  revelada.</p>

<p><b>PARÁGRAFO SEGUNDO.</b> En caso de incumplimiento, toda la Información Confidencial que sea divulgada seguirá siendo propiedad de LA
  PRODUCTORA, no pudiéndose interpretar ningún aparte de este acuerdo en el sentido en que se confieren derechos a EL RECEPTOR sobre
  la Información Confidencial, mucho menos tras el incumplimiento de las obligaciones aquí dispuestas. En todo caso, EL RECEPTOR deberá
  respetar los derechos morales y patrimoniales del autor y/o autores de las obras que hacen parte del PROYECTO AUDIOVISUAL.</p>

<p><b>PARÁGRAFO TERCERO. CLÁUSULA PENAL.</b> En caso de incumplimiento debidamente probado de las obligaciones asumidas en virtud del
  presente Acuerdo respecto a la Información Confidencial, EL RECEPTOR reconocerá a LA PRODUCTORA, la suma igual presupuesto total
  del PROYECTO AUDIOVISUAL, sin necesidad de requerimiento judicial o extrajudicial. Sin perjuicio del pago de la pena a que se refiere la
  presente cláusula, LA PRODUCTORA podrá además pedir indemnización de perjuicios por los daños y perjuicios causados por el
  incumplimiento de EL RECEPTOR.</p>

<p><b><u>SEXTA. PROCEDIMIENTOS LEGALES.</u></b> En caso de que EL RECEPTOR sea legalmente requerido por las autoridades competentes a revelar
  la Información Confidencial, en todo o en parte, el mismo empleará sus mejores esfuerzos para revelar solo lo estrictamente necesario para los
  fines establecidos por las autoridades. En todo caso, EL RECEPTOR deberá dar aviso inmediato a LA PRODUCTORA de tal situación debido
  a que reconoce que se pueden comprometer intereses de LA PRODUCTORA y del PROYECTO AUDIOVISUAL en específico.</p>

<p><b><u>SÉPTIMA. INDEMNIDAD.</u></b> EL RECEPTOR indemnizará a LA PRODUCTORA y a sus representantes por todas las pérdidas, daños o gastos
  provocados por la infracción de cualesquiera de los términos u obligaciones contenidos en el presente Acuerdo, o por la divulgación o
  implementación no autorizada de la Información Confidencial. Cualquier perjuicio causado por el incumplimiento de las obligaciones aquí
  contenidas podrá ser reclamado por vía judicial. </p>

<p><b><u>OCTAVA. DURACIÓN.</u></b> La obligación de confidencialidad continuará mientras dure la relación entre las partes y tres (3) años adicionales a la
  finalización de esta, o hasta que se publique o estrene el PROYECTO AUDIOVISUAL. </p>

<p><b><u>NOVENA. NOTIFICACIONES.</u></b> Las comunicaciones que EL RECEPTOR esté en la obligación de hacer en virtud del presente Acuerdo, o que
  LA PRODUCTORA deba realizar a EL RECEPTOR, deberán realizarse por escrito y a través de los siguientes medios, exclusivamente:</p>


  <div class="info-sides">
    <div>
      <p>
      <br><b>LA PRODUCTORA</b>
      <br><b>Dirección física:</b>
      <br>Calle 98 # 8-28, Bogotá D.C.
      <br><b>Correo electrónico:</b>
      <br>dhhernandez&#64;secuoyacontentgroup.com
      </p>
    </div>

    <div>
      <p><b>EL RECEPTOR</b></p>
      <div class="row">
        <app-text-input
        [label]="'Dirección Física'"
        [control]="getControl('confidential_responsible_address')"
        class="col-4" />
        <app-text-input
          [label]="'Correo Electrónico'"
          [control]="getControl('confidential_responsible_email')"
          [type]="'email'"
          class="col-4" />
      </div>
    </div>
  </div>

  
  <p><b><u>DÉCIMA. MODIFICACIONES.</u></b> Todas las modificaciones al presente acuerdo de confidencialidad deberán constar por escrito y estar suscritas
    por ambas partes, y se estimarán parte integra del presente documento. </p>
    
  <p>En constancia se suscribe en Bogotá D.C., a los {{ date | date:'dd' }} días del mes de {{ date | date:'MMMM'  }} de {{ date.getFullYear() }}. </p>
  <br>
  <br>
  <br>
</div>
