@if (!loading) {
    <div class="center-content">
        <div class="content">
            <app-logo></app-logo>
            @if (error) {
                <div class="alert-message">{{ error }}</div>
            }
            @switch (view) {
                @case ('home') {
                    <p class="align-center">Por favor haz clic en continuar para enviar un token al correo registrado</p>
                    <app-black-button
                      [name]="'Continuar'"
                      (onClick)="generateToken(); view = 'token'"
                    />
                }
                @case ('token') {
                    <p class="align-center">Hemos enviado el token de seguridad a {{ vendorEmailSecret }}. Por favor ingresa este token para continuar</p>
                    <div class="bottom-gap">
                      <app-input-token
                        #tokenInput="ngModel"
                        [(ngModel)]="token"
                      ></app-input-token>
                    </div>
                    <app-black-button
                      [name]="'Validar token'"
                      [disabled]="!tokenInput.valid"
                      (onClick)="sendToken()"
                    />
                    <span class="lgl-content">Haz <a (click)="generateToken(); view = 'new-token'">clic acá</a> para generar un nuevo token</span>
                }
                @case ('new-token') {
                    <p class="align-center">Hemos enviado el token de seguridad a {{ vendorEmailSecret }}. Por favor ingresa este token para continuar</p>
                    <app-black-button
                      [name]="'Continuar'"
                      (onClick)="setView('token')"
                    />
                }
            }
        </div>
    </div>
}
@else {
    <div class="loader">
        <div class="custom-loader"></div>
    </div>
}