<app-subtitle [subtitle]="'DECLARACIÓN PERSONA EXPUESTA POLÍTICAMENTE'" />
<div>
  <p>
    Conforme al Decreto 1674 de 2016, las Personas Políticamente Expuestas (PEP) son aquellos a quienes se les ha confiado una responsabilidad pública prominente, como: 
  </p>
  <p>
    Presidente de la República, Vicepresidente de la República, altos consejeros, director del Departamento Administrativo de la Presidencia de la República, ministros y viceministros.
  </p>
  <p>
    Secretarios Generales, Tesoreros, Directores Financieros de los Ministerios, los Departamentos Administrativos y las Superintendencias
    Presidentes, Directores, Gerentes, Secretarios Generales, Tesoreros, Directores Financieros de (i) los Establecimientos Públicos, (ii) las Unidades Administrativas Especiales, (¡ii) las Empresas Públicas de Servicios Públicos Domiciliarios, (iv) las Empresas Sociales del Estado, (v) las Empresas Industriales y Comerciales del Estado y (vi) las Sociedades de Economía Mixta.
  </p>
  <p>
    Superintendentes y Superintendentes Delegados.
  </p>
  <p>
    Generales de las Fuerzas Militares y de la Policía Nacional, e Inspectores de la Policía Nacional.
  </p>
  <p>
    Gobernadores, Alcaldes, Diputados, Concejales, Tesoreros, Directores Financieros y Secretarios Generales de i) gobernaciones, ii) alcaldías, iii) concejos municipales y distritales y iv) asambleas departamentales.
  </p>
  <p>
    Senadores, Representantes a la Cámara, Secretarios Generales, secretarios de las comisiones constitucionales permanentes del Congreso de la República y Directores Administrativos del Senado y de la Cámara de Representantes.
  </p>

  <p>
    Gerente y Codirectores del Banco de la República.
  </p>

  <p>  
    Directores de las Corporaciones Autónomas Regionales.
  </p>

  <p>
    Comisionados Nacionales del Servicio Civil, Comisionados de la Autoridad Nacional de Televisión, de la Comisión de Regulación de Energía y Gas, de la Comisión de Regulación de Agua Potable y Saneamiento Básico y de la Comisión de Regulación de Comunicaciones.
  </p>
  <p>
    Magistrados, Magistrados Auxiliares y Consejeros de Tribunales y Altas Cortes, jueces de la república, Fiscal General de la Nación, Vice Fiscal General de la Nación, Director de Fiscalías Nacionales, Director Nacional de Seccionales y Seguridad Ciudadana.
  </p>
  <p>
    Contralor General de la República, Vicecontralor, Contralores Delegados, Contralores territoriales, Contador, Procurador General de la Nación, Viceprocurador General de la Nación, Procuradores Delegados, Defensor del Pueblo, Vice Defensor del Pueblo, Defensores Delegados y Auditor General de la República.
  </p>
  <p>
    Consejeros del Consejo Nacional Electoral, Registrador Nacional del Estado Civil y Registradores Delegados.
  </p>

  <p>
    Representantes legales, presidentes, directores y tesoreros de partidos y movimientos políticos, y de otras formas de asociación política reconocidas por la ley.
  </p>
  <p>
    Los directores y tesoreros de patrimonios autónomos o fideicomisos que administren recursos públicos.
  </p>
  <p>
    Las personas descritas anteriormente son PEP durante el periodo en que ocupen sus cargos y durante los dos (2) años siguientes a su dejación, renuncia, despido o declaración de insubsistencia del nombramiento, o de cualquier otra forma de desvinculación.
  </p>
  <p>
    En virtud de la definición de PEP recogida anteriormente, declaro que reúno las condiciones para ser considerado de tal manera, ya que por el término de <b style="text-transform: uppercase;">{{lists?.vendorInfo?.pep_term || '________'}}</b> contados a partir de la fecha <b style="text-transform: uppercase;">{{lists?.vendorInfo?.pep_start_date ? (lists?.vendorInfo?.pep_start_date | date) : '________'}}</b> hasta la fecha <b style="text-transform: uppercase;">{{lists?.vendorInfo?.pep_end_date ? (lists?.vendorInfo?.pep_end_date | date) : '________'}}</b>, tuve el cargo de <b style="text-transform: uppercase;">{{lists?.vendorInfo?.pep_position || '________'}}</b>.
  </p>
  <p>
    Manifiesto que SECUOYA respeta las garantías del Habeas Datas y que mi calidad de PEP no se interpone en contra de las garantías consagradas en las leyes de Protección de Datos y Hábeas Data.
  </p>

  <p>
    Asimismo, indico que la presente autorización me fue solicitada y puesta de presente antes de entregar mis datos y que la suscribo de forma libre y voluntaria una vez leída en su totalidad.
  </p>

  <p>
    Acepto y reconozco que esta autorización estará vigente a partir del momento en que la aceptó y durante el tiempo en que SECUOYA ejerza las actividades propias de su objeto social.
  </p>
  <!-- <p>
    <br>___________________________________
    <br>Firma
    <br>Nombre:
    <br>Cedula:

  </p>
  <p>
    <br>___________________________________
    <br>Firma del representante legal 
    <br>Nombre:
    <br>Cedula:
  </p> -->
</div>
