<div class="input-container">
  <label>{{ label }}</label>
  @if(control.errors && (control.dirty || control.touched)) {
    <small class="error">
      {{ getErrors() }}
    </small>
  }
  @if(!getErrors() && description){
    <small class="description">
      {{ description }}
    </small>
  }

  @if (type == 'currency') {
    <input
      [placeholder]="placeholder"
      [formControl]="control"
      type="text"
      mask="separator.0"
      prefix="$"
      [allowNegativeNumbers]="true"
      thousandSeparator="."
    />
  } @else if(type === 'number') {
    <input
      [placeholder]="placeholder"
      [formControl]="control"
      type="number"
      [pattern]="pattern || '[0-9]*'"
      inputmode="numeric"
      (blur)="blur()"
    />
  } @else {
    <input
      [placeholder]="placeholder"
      [formControl]="control"
      [type]="type"
      [pattern]="pattern || ''"
      (blur)="blur()"
    />
  }
</div>
