<app-subtitle [subtitle]="'persona que diligenció el formulario'" />
<div class="row">
  <app-text-input 
    [label]="'Nombres y Apellidos'"
    [control]="getControl('form_responsible_name')"
    class="col-4"
  />
  <app-text-input
    [label]="'Número de documento'"
    [control]="getControl('form_responsible_document')"
    class="col-4"
  />
  <app-text-input
    [label]="'Cargo'"
    [control]="getControl('form_responsible_position')"
    class="col-4"
  />
</div>

<div class="row">
  <label class="col-12">Adjuntar imagen con su firma</label>
  <app-filebox
    [control]="getControl('signature')"
    class="col-12"
    [allowedExtensions]="['png', 'PNG', 'jpg', 'JPG', 'jpeg', 'JPEG']"
  />
  <app-text-input
    [label]="'Por favor, adjunte el link del CV de la persona prestadora del servicio'"
    [control]="getControl('cv_link')"
    [type]="'url'"
    class="col-6"
  />
</div>