<app-subtitle [subtitle]="'datos de facturación electrónica'" />
<div class="row">
  <app-text-input
    [label]="'Nombre Responsable'"
    [control]="getControl('electronic_billing_name')"
    class="col-4"
  />
  <app-text-input
    [label]="'Celular'"
    [control]="getControl('electronic_billing_telephone')"
    class="col-4"
    [pattern]="'^[0-9+-]+$'"

  />
  <app-text-input
    [label]="'Correo electrónico'"
    [control]="getControl('electronic_billing_email')"
    class="col-4"
    [type]="'email'"
  />
</div>
