
<div class="row">
  <app-text-input
    [label]="'Nombres y Apellidos'"
    [control]="getControl('form_responsible_name')"
    class="col-6"></app-text-input>
  <app-text-input
    [label]="'Número de Identificación'"
    [control]="getControl('form_responsible_document')"
    class="col-4"></app-text-input>
</div>
<div class="row">
  <label class="col-12">Adjuntar imagen con su firma</label>
  <app-filebox
    [control]="getControl('signature')"
    class="col-12"
    [allowedExtensions]="['png', 'PNG', 'jpg', 'JPG', 'jpeg', 'JPEG']"
  />
</div>