<div>
  <app-subtitle [subtitle]="'DECLARACIÓN SAGRILAFT/FPADM'"></app-subtitle>

  <ol>
    <li>
      <p>
        Que de acuerdo a lo estipulado por la Superintendencia de Sociedades en el Capítulo X de su Circular Básica Jurídica de 2017 (Circular Externa No. 100-000016 del 24 de diciembre de 2020), los datos personales solicitados en el presente formulario del Sistema de SAGRILAFT-FPADM  son recogidos atendiendo las disposiciones legales vigentes en Colombia para prevenir y controlar el riesgo de lavado de activos, la ﬁnanciación del terrorismo y la financiación de la proliferación de armas de destrucción masiva.
      </p>
    </li>
    <li>
      <p>
        Que SECUOYA consultará periódicamente los listados, sistemas de información y bases de datos nacionales e internacionales de lavado de activos, ﬁnanciación del terrorismo y financiación para la proliferación de armas de destrucción masiva y, de encontrar algún reporte, procederá a adelantar las acciones legales correspondientes. En caso de estar vinculado en listas, sistemas de información, bases de datos o estar incurso en investigaciones de cualquier tipo (penales, disciplinarias, administrativas, etc), autorizo a SECUOYA para realizar procesos de debida diligencia ampliada de conformidad con el marco legal vigente, las políticas y procedimientos internos para la prevención y administración de riesgo de lavado de activos y ﬁnanciación del terrorismo y financiación para la proliferación de armas de destrucción masiva.
      </p>
    </li>
    <li>
      <p>
        Que SECUOYA reportará a las autoridades competentes a aquellos terceros que se encuentren reportados o vinculados en operaciones de lavado de activos y ﬁnanciación del terrorismo y financiación para la proliferación de armas de destrucción masiva.
      </p>
    </li>
    <li>
      <p>
        Que si en el desarrollo de la relación contractual algunos de sus socios, administradores, clientes, proveedores, empleados y demás grupos de interés llegaren a resultar incursos en una investigación de cualquier tipo (penal, administrativa, etc.) relacionada con actividades ilícitas, lavado de dinero, ﬁnanciamiento del terrorismo o financiación para la proliferación de armas de destrucción masiva, o fuere incluido en listas vinculantes o restrictivas nacionales o internacionales, SECUOYA tendrá derecho de terminar unilateralmente la relación contractual sin que por este hecho esté obligado a indemnizarlo y este último se obliga a responder a ambas organizaciones por todos los daños y perjuicios que les llegare a causar.
      </p>
    </li>
  </ol>
</div>